version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"   # 保留HTTP端口（用于重定向到HTTPS）
      - "443:443" # 新增HTTPS端口映射
    volumes:
      - ./nginx-config/default.conf:/etc/nginx/conf.d/default.conf
      - ./src:/usr/share/nginx/html/src
      - ./assets:/usr/share/nginx/html/assets
      # 挂载服务器上的证书到容器内（关键步骤）
      - /root/.well-known/pki-validation/:/etc/nginx/ssl/  # 宿主机证书路径:容器内路径
    restart: unless-stopped